body {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

.faPen:hover{
  color: #ffa323 !important;
}
.faTrash:hover{
  color: #ee231c!important;
}
.faTrash{
  margin-left: 15px!important;
}
h5{
  text-align: center;
  margin-top: 100px;
}
td,thead{
  text-align: center;
}

thead{
  background-color: #000;
  color: #fff;
}

.table-wrapper{
  padding: 20px 25px;
  margin: 30px 0;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  border-radius: 5px;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.247); */
}
